@page
@model FundingDashboardAPI.Pages.Admin.CreateFundingModel



<h2>Create New Funding</h2>
<h2 class="message">@Model.Message</h2>
<br />
<a asp-page="Index">Back to Funding List</a>
<hr />




    <form method="post">
        <div class="row">
            <div class="col-md-4">



                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<input type="hidden" asp-for="funding.Id" />*@
                <div class="form-group">
                    <label asp-for="funding.Name" class="control-label"></label>
                    <input asp-for="funding.Name" class="form-control" />
                    <span asp-validation-for="funding.Name" class="text-danger"></span>
                </div>

                @*<div class="form-group">
            <label asp-for="funding.Region" class="control-label"></label>
            <input asp-for="funding.Region" class="form-control" />
            <span asp-validation-for="funding.Region" class="text-danger"></span>
        </div>*@
                <div class="form-group">
                    <label>Funding Regions</label><br />
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" asp-for="funding.UK" /> @Html.DisplayNameFor(model => model.funding.UK)
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" asp-for="funding.USA" /> @Html.DisplayNameFor(model => model.funding.USA)
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" asp-for="funding.EUR" /> @Html.DisplayNameFor(model => model.funding.EUR)
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" asp-for="funding.ASIA" /> @Html.DisplayNameFor(model => model.funding.ASIA)
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="funding.CSP" class="control-label"></label>
                    @{
                        var selectList1 = new SelectList(
                            new List<SelectListItem>{
                                new SelectListItem { Text = "Azure", Value="AZURE"},
                                new SelectListItem { Text = "AWS", Value="AWS"},
                                new SelectListItem { Text = "GCP", Value="GCP"},

    }, "Value", "Text");

                    }
                    @Html.DropDownListFor(m => m.funding.CSP, selectList1, null, new { @class = "custom-select" })

                    <span asp-validation-for="funding.CSP" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="funding.ServiceLine" class="control-label"></label>
                    @*<input asp-for="funding.ServiceLine" class="form-control" />*@
                    @{
                        var selectList = new SelectList(
                            new List<SelectListItem>{
                                new SelectListItem { Text = "Advisory Services", Value="Advisory Services"},
                                new SelectListItem { Text = "Platform Development", Value="Platform Development"},
                                new SelectListItem { Text = "Migration Services", Value="Migration Services"},
                                new SelectListItem { Text = "App Development", Value="App Development"},
                                new SelectListItem { Text = "Data & Analytics Services", Value="Data & Analytics Services"},
                                new SelectListItem { Text = "Cloud Management Services", Value="Cloud Management Services"},
                                new SelectListItem { Text = "Platform Resale", Value="Platform Resale"},
                                new SelectListItem { Text = "Software Services", Value="Software Services"},
}, "Value", "Text");

                    }
                    @Html.DropDownListFor(m => m.funding.ServiceLine, selectList, null, new { @class = "custom-select" })

                    <span asp-validation-for="funding.ServiceLine" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="funding.MinimumCriteria" class="control-label"></label>
                    <input asp-for="funding.MinimumCriteria" class="form-control" />
                    <span asp-validation-for="funding.MinimumCriteria" class="text-danger"></span>
                </div>

               



                <div class="form-group">
                    @*<label asp-for="funding.AddedBy" class="control-label"></label>*@
                    <input type="hidden" asp-for="funding.AddedBy" class="form-control" readonly value="@User.Identity.Name" />
                    @*<span asp-validation-for="funding.AddedBy" class="text-danger"></span>*@
                </div>

                <div class="form-group">
                    @*<label asp-for="funding.AddedOn" class="control-label"></label>*@
                    <!input type="hidden" asp-for="funding.AddedOn" class="form-control" readonly value="@Model.datetime" />
                    @*<span asp-validation-for="funding.AddedOn" class="text-danger"></span>*@
                </div>

                <div class="form-group form-check">
                    @*<label class="form-check-label">*@
                    <!input type="hidden" class="form-check-input" asp-for="funding.Archived" value="" />
                    @*@Html.DisplayNameFor(model => model.funding.Archived)*@
                    @*</label>*@
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label asp-for="funding.Description" class="control-label"></label>
                    <textarea rows="4" cols="180" asp-for="funding.Description" class="form-control"></textarea>
                    <span asp-validation-for="funding.Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="funding.FundingValue" class="control-label"></label>
                    <textarea rows="3" cols="180" asp-for="funding.FundingValue" class="form-control"></textarea>
                    <span asp-validation-for="funding.FundingValue" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="funding.SupportingDocumentation" class="control-label"></label>
                    <textarea rows="1" cols="180" asp-for="funding.SupportingDocumentation" class="form-control"></textarea>
                    <span asp-validation-for="funding.SupportingDocumentation" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="funding.HowToApply" class="control-label"></label>
                    <textarea rows="2" cols="180" asp-for="funding.HowToApply" class="form-control"></textarea>
                    <span asp-validation-for="funding.HowToApply" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="funding.WhenToApply" class="control-label"></label>
                    <textarea rows="2" cols="180" asp-for="funding.WhenToApply" class="form-control"></textarea>
                    <span asp-validation-for="funding.WhenToApply" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="funding.ApprovalProcess" class="control-label"></label>
                    <textarea rows="2" cols="180" asp-for="funding.ApprovalProcess" class="form-control"></textarea>
                    <span asp-validation-for="funding.ApprovalProcess" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="funding.FundingClaimProcess" class="control-label"></label>
                    <textarea rows="2" cols="180" asp-for="funding.FundingClaimProcess" class="form-control"></textarea>
                    <span asp-validation-for="funding.FundingClaimProcess" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="funding.FundingCollection" class="control-label"></label>
                    <textarea rows="2" cols="180" asp-for="funding.FundingCollection" class="form-control"></textarea>
                    <span asp-validation-for="funding.FundingCollection" class="text-danger"></span>
                </div>





            </div>
        </div>
    </form>
    <br />
    <br />
    <a asp-page="Index">Back to Funding List</a>