@page
@model FundingDashboardAPI.Pages.Admin.NewIndexModel



<br />

<h2 class="message">@TempData["Message"]</h2>


@*a asp-page="InsertFund" class="linkbutton">Insert</a>*@

<p>
    <a asp-page="./CreateFunding">Create New</a>
</p>

<br />
<br />

<table class="table" >

    <tr>
        @*<th>Funding ID</th>*@
        <th>Name</th>
        <th>
            <a asp-page="./NewIndex" asp-route-sortOrder="@Model.CSPSort">
                @Html.DisplayNameFor(model => model.Funding[0].CSP)
            </a>
        
        </th>
        <th>Service Line</th>
        <th>
            <a asp-page="./NewIndex" asp-route-sortOrder="@Model.DateSort">
                @Html.DisplayNameFor(model => model.Funding[0].AddedOn)
            </a>
        </th>
        <th>Added By</th>
        <th>Archived</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.Funding)
    {
        <tr>
            @*<td>@item.Id</td>*@
            <td>@item.Name</td>
            <td>@item.CSP</td>
            <td>@item.ServiceLine</td>
            <td>@item.AddedOn.ToShortDateString()</td>
            <td>@item.AddedBy</td>
            <td>@item.Archived</td>
            <td>
                <a asp-page="./UpdateFunding" asp-route-fundingId="@item.Id">Edit</a> |
                <a asp-page="./DetailFunding" asp-route-fundingId="@item.Id">Details</a> |
                <a asp-page="./DeleteFunding" asp-route-fundingId="@item.Id">Delete</a>
            </td>

            @*<td>
                <a asp-page="UpdateFunding"
                   asp-route-fundingId="@item.Id"
                   class="linkbutton">Update</a>
            </td>
            <td>
                <a asp-page="DeleteFunding"
                   asp-route-fundingId="@item.Id"
                   class="linkbutton">Delete</a>

            </td>*@

        </tr>
    }


</table>
