@page "{skillId:int}"
@model FundingDashboardAPI.Pages.DeleteSkillModel



<h2>Delete existing Profession</h2>
<br />
<h3 class="message">
    WARNING: You are about to delete a skill, Make sure this is what you indend to do!
</h3>
<h3 class="message">@Model.Message</h3>

<form method="post">
    <table border="0">
        <tr>
            <td class="right">
                <label asp-for="Skill.SkillId"></label> :
            </td>
            <td>
                <input type="hidden" asp-for="Skill.SkillId" />
                <span>@Model.Skill.SkillId</span>
            </td>
        </tr>
        <tr>
            <td class="right">
                <label asp-for="Skill.ProfessionId"></label> :
            </td>
            <td>
                <input type="hidden" asp-for="Skill.ProfessionId" />
                <span>@Model.Skill.ProfessionId</span>
            </td>
        </tr>
        <tr>
            <td class="right">
                <label asp-for="Skill.SkillCode"></label> :
            </td>
            <td>
                
                <span>@Model.Skill.SkillCode</span>
                
            </td>
        </tr>
        <tr>
            <td class="right">
                <label asp-for="Skill.SkillLevel"></label> :
            </td>
            <td>
                
                <span>@Model.Skill.SkillLevel</span>
                
            </td>
        </tr>
        <tr>
            <td class="right">
                <label asp-for="Skill.SkillText"></label> :
            </td>
            <td>
                <textarea asp-for="Skill.SkillText" rows="10" cols="70" contenteditable="false"></textarea>
                
                
            </td>
        </tr>
        <tr>
        <tr>
            <td colspan="2">
                <button type="submit">Delete Skill</button>
            </td>
        </tr>
    </table>
</form>

<br />
<br />

<a asp-page="ListSkills"
   asp-route-professionId="@Model.Skill.ProfessionId"
   class="linkbutton">Back to Skills</a>