@page
@model FundingDashboardAPI.Pages.ListProfModel


<h2>Professions List</h2>

<h3>@TempData["Message"]</h3>

<a asp-page="InsertProf" class="linkbutton">Insert</a>

<br /><br />

<table border="1">
    <tr>
        <th>Profession ID</th>
        <th>Profession Name</th>
        <th colspan="3">Actions</th>
    </tr>

    @foreach(var item in Model.Professions)
    {
        <tr>
            <td>@item.ProfessionId</td>
            <td>@item.Name</td>
            <td>
                <a asp-page="ListSkills"
                   asp-route-professionId="@item.ProfessionId"
                   class="linkbutton">List Skills</a>
            </td>
            <td>
                <a asp-page="UpdateProf"
                   asp-route-professionId="@item.ProfessionId"
                   class="linkbutton">Update</a>
            </td>
            <td>
                <a asp-page="DeleteProf"
                   asp-route-professionId="@item.ProfessionId"
                   class="linkbutton">Delete</a>
            </td>
        </tr>
    }

</table>