@page
@model FundingDashboardAPI.Pages.ListSkillsModel



<h2>Skills List</h2>

<h3 class="message">@TempData["Message"]</h3>

<a asp-page="InsertSkill" 
   asp-route-professionid="@Model.professionID"
   class="linkbutton">Add Skill</a>
<br />
<a asp-page="ListProf" class="linkbutton">Back to Professions</a>

<br />
<br />

<table border="1" >
    <tr>
        <th>Skill ID</th>
        <th>Skill Code</th>
        <th>Skill Text</th>
        <th>Skill Level</th>
        <th colspan="2">Actions</th>
    </tr>

    @foreach (var item in Model.Skills)
    {
        <tr>
            <td>@item.SkillId</td>
            <td>@item.SkillCode</td>
            <td>@item.SkillText.Trim()</td>
            <td>@item.SkillLevel</td>

            <td>
                <a asp-page="UpdateSkill"
                   asp-route-skillId="@item.SkillId"
                   class="linkbutton">Update</a>
            </td>
            <td>
                <a asp-page="DeleteSkill"
                   asp-route-skillId="@item.SkillId"
                   class="linkbutton">Delete</a>
            </td>
        </tr>
    }

</table>